.burg .line {
    border-color:black;

    background-color: black;
}


.x .linex {
    border-color:black;
    background-color: black;
}
.linkDropdown.open {
    background-color: rgba(0, 0, 0, 0.5);
}
