body {
    background-color: white;
}

.navbar p, .navbar a {
    color: black !important;
}
.main {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}







.topic {
    font-size: 30px;

}


.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 30px;
}
.post-ul {
    display: flex;
    flex-direction: column;
    transition: flex-direction 1s ease;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.sort {
    cursor: pointer;

}
.date {
    color: grey;
}
.post-title {
    font-size: 20px;
    color: deepskyblue;
}
.post-title:hover {
    color: darkblue;
}

.post-author {
    color: darkgrey;
}
.main {
    padding-top: 20px;
}
@media (min-width: 1023px) {
    .post-content {
        width: 70ch;
        max-width: 70ch;
    }
    .post-list-container {
        margin: 0px 30%;

    }

}
@media (max-width: 1024px) {
    .post-content {
        width: 30ch;
        max-width: 30ch;
    }
    .post-list-container {
        margin: 0px 30px;

    }

}